<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="monster">
            <h2><span>Monster</span> {{ monster.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ monster.name }}</span>
                </dd>
                <dt><span>Creator Id</span></dt>
                <dd>
                    <span>{{ monster.creatorId }}</span>
                </dd>
                <dt><span>Str</span></dt>
                <dd>
                    <span>{{ monster.str }}</span>
                </dd>
                <dt><span>Con</span></dt>
                <dd>
                    <span>{{ monster.con }}</span>
                </dd>
                <dt><span>Dex</span></dt>
                <dd>
                    <span>{{ monster.dex }}</span>
                </dd>
                <dt><span>Intl</span></dt>
                <dd>
                    <span>{{ monster.intl }}</span>
                </dd>
                <dt><span>Wis</span></dt>
                <dd>
                    <span>{{ monster.wis }}</span>
                </dd>
                <dt><span>Cha</span></dt>
                <dd>
                    <span>{{ monster.cha }}</span>
                </dd>
                <dt><span>Basetype</span></dt>
                <dd>
                    <div *ngIf="monster.basetype">
                        <a [routerLink]="['/basetype', monster.basetype?.id, 'view']">{{ monster.basetype?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/monster', monster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
